@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  If not adding custom global styles, import "tailwindcss/tailwind.css" from _app.tsx instead.
  See: https://nextjs.org/docs/basic-features/built-in-css-support#import-styles-from-node_modules
  */

@layer base {
  @font-face {
    font-family: "Permanent Marker";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/permanent-marker-latin-400-normal.woff2") format("woff2"),
      url("/fonts/permanent-marker-all-400-normal.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  html {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  /* Gradients from https://hypercolor.dev/#gradients */
  body {
    @apply bg-gradient-to-tl from-green-200 to-purple-300;
  }
}

@layer components {
  /* Used eg. in aspect ratio element parent */
  .common-full-image {
    @apply object-cover w-full h-full;
  }
  /* Used eg. in links in cards to make the entire card clickable */
  /* Note: parent must have the "position" property set. */
  .common-cover-parent::after {
    @apply absolute inset-0;
    content: " ";
  }
}

@layer utilities {
  .pb-full {
    padding-bottom: 100%;
  }
}
