@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  If not adding custom global styles, import "tailwindcss/tailwind.css" from _app.tsx instead.
  See: https://nextjs.org/docs/basic-features/built-in-css-support#import-styles-from-node_modules
  */

@layer base {
  html {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  /* Gradients from https://hypercolor.dev/#gradients */
  body {
    @apply bg-gradient-to-tl from-green-200 to-purple-300;
  }
}

@layer components {
  /* Used eg. in aspect ratio element parent */
  .common-full-image {
    @apply object-cover w-full h-full;
  }
  /* Used eg. in links in cards to make the entire card clickable */
  /* Note: parent must have the "position" property set. */
  .common-cover-parent::after {
    @apply absolute inset-0;
    content: " ";
  }
}

@layer utilities {
}
