@keyframes bounce {
  0%,
  to {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-20%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.anchor {
  --size: 4.25rem;
  @apply fixed top-0 left-0 z-10 inline-block hover:text-indigo-800  focus:outline-none focus-visible:text-indigo-800;
  color: rgba(0, 0, 0, 0.8);
  border-top: var(--size) solid currentColor;
  border-right: var(--size) solid transparent;
}

.arrow {
  @apply pointer-events-none fixed top-2 left-2 z-20 text-2xl text-white md:text-3xl;
}

.anchor:hover .arrow,
.anchor:focus .arrow {
  animation: bounce 1s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .arrow {
    animation: none !important;
  }
}

@media (min-width: 768px) {
  .anchor {
    --size: 5rem;
  }
}
