@keyframes bounce {
  0%,
  to {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-20%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.anchor {
  @apply fixed top-0 left-0 z-10 inline-block w-24 h-24 md:w-28 md:h-28 transform -translate-y-1/2 -translate-x-1/2 rotate-45 text-white bg-black bg-opacity-80 hover:bg-indigo-800 focus:bg-indigo-800 duration-150 focus:outline-black;
}

.arrow {
  @apply z-20 pointer-events-none text-white fixed top-2 left-2 text-2xl md:text-3xl;
}

.anchor:hover + .arrow,
.anchor:focus + .arrow {
  animation: bounce 1s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .arrow {
    animation: none !important;
  }
}
