.card {
  @apply bg-gray-50 hover:bg-purple-100 rounded relative p-2 sm:p-4 hover:shadow-xl;
}

.card__title {
  @apply text-base font-bold truncate mb-1;
}

.card__subtitle {
  @apply text-gray-700 text-xs line-clamp-2 mb-1;
}

.card__artwork {
  @apply bg-gray-200 mb-2 md:mb-4 shadow;
  padding-bottom: 100%;
  position: relative;
}

.card:hover .card__artwork {
  @apply shadow-lg;
}

.card__artwork img {
  @apply rounded-sm transition-opacity object-cover absolute inset-0 w-full h-full;
  transition-duration: 0.75s;
}

.card__artwork + .card__artwork {
  display: none;
}

.card a {
  @apply block focus:outline-none focus:ring;
}

.card,
.card__artwork {
  @apply transition duration-500;
}
