.playlist {
  @apply bg-white rounded-lg shadow-xl m-2 sm:m-4 p-4 gap-y-4 gap-x-6 md:gap-x-10 md:px-6 md:py-8 lg:p-12 lg:m-8 xl:gap-x-14 grid relative;
  /* When left-col-w variable is not defined, it's not considered a column (ie. we get a one-column grid) */
  grid-template-columns: var(--left-col-w) minmax(0, 1fr);
}

.playlist__title {
  @apply font-extrabold text-2xl sm:text-5xl lg:text-6xl xl:text-7xl leading-tight mb-4 lg:mb-8;
}

.playlist__desc {
  @apply text-gray-700 text-sm mb-2;
}

.playlist__meta {
  @apply text-gray-700 text-xs;
}

.playlist__stickyContainer {
  @apply sticky top-6 flex sm:block;
}

/* .playlist__artworkContainer {} */

.playlist__artwork {
  @apply w-32 h-32 pb-32 sm:w-full sm:h-full sm:mb-6 rounded-lg shadow-md relative flex-none;
}

.playlist__artwork img {
  @apply rounded-lg object-cover absolute inset-0 w-full h-full;
}

.playlist__tracks {
  @apply col-span-full mb-4 -mx-4 sm:mx-0;
}

@media (min-width: 640px) {
  .playlist {
    --left-col-w: 12rem;
  }

  .playlist__artwork {
    padding-bottom: 100%;
  }
}

@media (min-width: 1024px) {
  .playlist {
    --left-col-w: 16rem;
  }

  .playlist__artworkContainer {
    grid-row: 1/3;
  }

  .playlist__tracks {
    grid-column: 2/3;
  }
}
